@import "tailwindcss";

@theme {
  --color-glass-border: rgba(255, 255, 255, 0.1);
  --color-glass-surface: rgba(255, 255, 255, 0.03);
  --color-neon-cyan: #00f3ff;
  --color-neon-pink: #ff00ff;
  --color-neon-purple: #bc13fe;

  --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

:root {
  --background: #05050a;
  --foreground: #eef2ff;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-outfit), sans-serif;
  overflow-x: hidden;
  background-image: radial-gradient(
      circle at 50% 0%,
      rgba(188, 19, 254, 0.15) 0%,
      transparent 50%
    ),
    radial-gradient(
      circle at 0% 50%,
      rgba(0, 243, 255, 0.1) 0%,
      transparent 40%
    );
}

@layer utilities {
  .glass-panel {
    @apply bg-glass-surface backdrop-blur-xl border border-glass-border shadow-lg;
  }

  .text-glow {
    text-shadow: 0 0 10px rgba(0, 243, 255, 0.5),
      0 0 20px rgba(0, 243, 255, 0.3);
  }

  .text-glow-purple {
    text-shadow: 0 0 10px rgba(188, 19, 254, 0.5),
      0 0 20px rgba(188, 19, 254, 0.3);
  }
}
